<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>
<nav th:replace="fragments :: navigation"></nav>
<br>
<br>
<br>
<br>
<div class="contaner text-center">
    <div class="col-sm-12">
        <div class="well">
            <h2>EatSheet, the nutrient label guru.</h2>
            <p>Welcome to the site.</p>
        </div>
        <h3>So, you're here, but why? How can I be of service?</h3>
        <br>

    </div>

    <div class="col-sm-4">
        <div class="well">
            <h4><u>Browse almost 9000 foods and their nutrient levels.</u></h4>
            <p>All data pulled from the USDA National Nutrient Database for Standard Reference</p>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="well">
            <h4><u>Find foods that match your diet, up to three constraints.</u></h4>
            <p>Search by nutrient type and conditional. ex: Carbs < 50 grams and protein > 10 grams.</p>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="well">
            <h4><u>Find foods by name or keyword.</u></h4>
            <p>Curious about a certain food or looking for something specific? I'm your guy.</p>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="well">
            <h4><u>So why even diet?</u></h4>
            <p>Research shows a multitude of benefits both physical and mental.</p>
            <p><span class="glyphicon glyphicon-heart"></span> Energy you need to keep active throughout the day</p>
            <p><span class="glyphicon glyphicon-heart"></span> Nutrients you need for growth and repair, helping you to stay strong and healthy and help to prevent diet-related illness</p>
            <p><span class="glyphicon glyphicon-heart"></span> Reduce your risk of heart disease by maintaining blood pressure and cholesterol levels</p>
            <p><span class="glyphicon glyphicon-heart"></span> Keeps your teeth and bones strong and can help to slow bone loss (osteoporosis) associated with getting older</p>
            <p><span class="glyphicon glyphicon-heart"></span> Can help you maintain a steady weight</p>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="well">
            <h4><u>Popular diets.</u></h4>
            <p><span class="glyphicon glyphicon-apple"></span> Ketogenic diet: Less than 50g of carbs per day.</p>
            <p><span class="glyphicon glyphicon-apple"></span> Zone diet: Meals consisting of 40 percent carbs, 30 percent protein and 30 percent fats.</p>
            <p><span class="glyphicon glyphicon-apple"></span> Bulk diet: Daily intake of grams protein equivalent to weight in pounds of person who is dieting.</p>
            <p><span class="glyphicon glyphicon-apple"></span> Paleo diet: Any food that our hunter-gatherer ancestors would have eaten. No dairy, grains, legumes, refined sugars, or processed foods.</p>
        </div>
    </div>
</div><br>



<!--
<footer class="container fluid text-center">
    <h6>Clayton Graves 2018</h6>
</footer>
-->
</body>
</html>